{
    "database":{
        "type":"postgres",
        "username":"{{ bdd_username }}",
        "password":"{{ bdd_password }}",
        "host":"localhost",
        "port":"5432",
        "name":"",
        "init_conn": 3,
        "max_conn": 5
    }
    }
} 